<style>
.section_one{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:chocolate
}
#section_two{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

</style>